In [198]:
#IMPORTANDO AS BIBLIOTEAS
import pandas as pd
import numpy as np

In [199]:
total_pessoas = 4

lista_idade = []   #"Lista de idades"
lista_genero = []  #"Lista de generos"
lista_salario = [] #"Lista de salarios"

In [200]:
#FUNÇÃO COM O LOOP
def pesquisa():

    for i in range(total_pessoas):
        idade = int(input("Qual o sua idade? "))
        genero = input("Qual o seu genero ? 'M' - Masculino || 'F' - Feminino)")
        salario = float(input("Qual seu salario? "))
        
        print(idade, genero, salario)
        
        lista_idade.append(idade)
        lista_genero.append(genero)
        lista_salario.append(salario)
    return

In [201]:
print(pesquisa())


if(len(lista_idade) > 1):
    print("A pesquisa foi realizada com ", len(lista_idade), "candidatos.")
else:
    print("A pesquisa foi realizada com ", len(lista_idade), "candidato.")


print("A média salarial total: ", np.mean(lista_salario))
print("A média de idade dos pesquisados: ", np.mean(lista_idade))
print(lista_genero)

20 M 1000.0
40 F 500.0
12 F 100.0
50 M 500.0
None
A pesquisa foi realizada com  4 candidatos.
A média salarial total:  525.0
A média de idade dos pesquisados:  30.5
['M', 'F', 'F', 'M']

In [202]:
coluna = ['Genero']

df_genero = pd.DataFrame(data=lista_genero, columns=coluna)
df_genero.head()

  Genero
0      M
1      F
2      F
3      M

<h1>Idade</h1>

In [203]:
print(lista_idade)

[20, 40, 12, 50]

In [204]:
lista_idade_array = np.array(lista_idade)

In [205]:
colunas = ['Idade']



df_lista_idade_array = pd.DataFrame(
    data=lista_idade_array, columns=colunas
)

df_lista_idade_array

   Idade
0     20
1     40
2     12
3     50

<h1>Salários</h1>

In [206]:
print(lista_salario)

[1000.0, 500.0, 100.0, 500.0]

In [207]:
lista_salario_array = np.array(lista_salario)

In [208]:
colunas = ['Salario']



df_lista_salario_array = pd.DataFrame(
    data=lista_salario_array, columns=colunas
)

df_lista_salario_array

   Salario
0   1000.0
1    500.0
2    100.0
3    500.0

<h1>Concatenando os Resultados</h1>

In [209]:
tabela = pd.concat([df_lista_idade_array, df_lista_salario_array, df_genero], 
                    axis=1, ignore_index=True, join='outer')

In [210]:
tabela.columns = ['Idade', 'Salario', 'Genero']
tabela

   Idade  Salario Genero
0     20   1000.0      M
1     40    500.0      F
2     12    100.0      F
3     50    500.0      M

In [211]:
tabela_masculino = tabela[tabela['Genero'] == 'M']
tabela_masculino_salario = tabela_masculino['Salario']
media = np.mean(tabela_masculino_salario)
print(f"A média salarial dos pesquisados do sexo masculino é {media:.2f}")

A média salarial dos pesquisados do sexo masculino é 750.00